[Desktop Entry]
Version=1.0
Type=Application
Name=OrderChecker v5.0
Name[ru]=OrderChecker v5.0
Comment=Поиск совпадений по реестру
Comment[ru]=Поиск совпадений по реестру
GenericName=Registry Checker
GenericName[ru]=Сверка документов
Exec=/opt/OrderChecker/OrderChecker-linux %F
Icon=orderchecker
Terminal=false
StartupNotify=true
StartupWMClass=OrderChecker
NoDisplay=false
Categories=Office;Finance;Development;
Keywords=registry;checker;documents;excel;
Keywords[ru]=реестр;сверка;документы;excel;
MimeType=text/csv;application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;application/pdf;
